<div
    [formGroup]="newEmployeeForm"
    class="new-employee-wrapper">
    <mat-form-field appearance="outline">
        <mat-icon
            color="primary"
            fontSet="material-icons-outlined"
            matPrefix>
            person
        </mat-icon>
        <input
            formControlName="name"
            matInput
            placeholder="Employee name">
        <mat-error>Name is Required*</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-icon
            color="primary"
            fontSet="material-icons-outlined"
            matPrefix>
            work_outline
        </mat-icon>
        <mat-select
            formControlName="role"
            placeholder="Select role">
            <mat-option
                *ngFor="let roleKey of employeeRolesEnum | keyvalue"
                [value]="roleKey.key">
                {{roleKey.value}}
            </mat-option>
        </mat-select>
        <mat-error>Role is Required*</mat-error>
    </mat-form-field>

    <div class="date-fields-wrapper">
        <mat-form-field
            (click)="startDatePicker.open()"
            appearance="outline">
            <input
                (dateChange)="onDateChange($event, 'startDate')"
                [value]="startDateFormControl?.value"
                matInput
                readonly
                placeholder="From Date"
                [matDatepicker]="startDatePicker">
            <mat-icon
                color="primary"
                matIconPrefix>
                event
            </mat-icon>
            <mat-datepicker
                [calendarHeaderComponent]="datePickerHeaderComponent"
                #startDatePicker>
                <mat-datepicker-actions>
                    <div class="preview-date">
                        <mat-icon color="primary">event</mat-icon>
                        <span>
                            {{startDateFormControl?.value | date: 'd MMM YYYY'}}
                        </span>
                    </div>
                    <div class="action-buttons">
                        <button
                            class="primary-50"
                            mat-flat-button
                            matDatepickerCancel>
                            Cancel
                        </button>
                        <button
                            color="primary"
                            mat-flat-button
                            matDatepickerApply>
                            Save
                        </button>
                    </div>

                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
        <mat-icon
            fontSet="material-icons-rounded"
            color="primary">
            arrow_right_alt
        </mat-icon>
        <mat-form-field
            (click)="endDatePicker.open()"
            appearance="outline">
            <input
                (dateChange)="onDateChange($event, 'endDate')"
                [value]="endDateFormControl?.value"
                [min]="startDateFormControl?.value"
                matInput
                readonly
                placeholder="End Date"
                [matDatepicker]="endDatePicker">
            <mat-icon
                color="primary"
                matIconPrefix>
                event
            </mat-icon>
            <mat-datepicker
                [calendarHeaderComponent]="datePickerHeaderComponent"
                #endDatePicker>
                <mat-datepicker-actions>
                    <div class="preview-date">
                        <ng-container *ngIf="endDateFormControl?.value">
                            <mat-icon color="primary">event</mat-icon>
                            <span>
                                {{endDateFormControl?.value | date: 'd MMM YYYY'}}
                            </span>
                        </ng-container>

                    </div>
                    <div class="action-buttons">
                        <button
                            class="primary-50"
                            mat-flat-button
                            matDatepickerCancel>
                            Cancel
                        </button>
                        <button
                            color="primary"
                            mat-flat-button
                            matDatepickerApply>
                            Save
                        </button>
                    </div>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
    </div>

</div>
<footer>
    <button
        class="primary-50"
        (click)="onCancelClick()"
        mat-flat-button>
        Cancel
    </button>
    <button
        (click)="onSaveClick()"
        color="primary"
        mat-flat-button>
        Save
    </button>
</footer>
