@mixin new-employee-theme() {
    app-new-employee {
        .new-employee-wrapper {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            padding: 5vw;

            @media (min-width: 410px) {
                .date-fields-wrapper {
                    display: flex;
                    gap: 16px;
                    width: 100%;
                    align-items: baseline;

                    & > mat-icon {
                        font-size: 28px;
                        width: 28px;
                        position: relative;
                        top: 6px;
                    }

                    mat-form-field {
                        flex: 1;
                    }
                }
            }

            @media (max-width: 410px) {
                .date-fields-wrapper {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 0;

                    & > mat-icon {
                        display: none;
                    }

                    mat-form-field {
                        width: 100%;
                    }
                }
            }
        }

        footer {
            display: flex;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 12px;
            gap: 16px;
            justify-content: flex-end;
            border-top: 1px solid lightgray;
            background-color: white;
        }
    }

    .mat-calendar-table-header-divider {
        display: none;
    }

    thead.mat-calendar-table-header {
        th {
            font-size: 15px;
            color: #323238;
        }
    }

    .mat-calendar-body {
        .mat-calendar-body-cell {
            font-size: 15px;
            .mat-calendar-body-cell-content {
                width: 70%;
                height: 70%;
            }
        }
        tr:first-child {
            .mat-calendar-body-label {
                visibility: hidden;
            }
            .mat-calendar-body-label[colspan="7"] {
                display: none;
            }
        }
    }

    mat-datepicker-content.mat-datepicker-content {
        border-radius: 16px;
        .mat-calendar {
            max-width: 396px;
            width: 93vw;

            @media (max-width: 375px) {
                button {
                    font-size: 12px;
                }
            }

            td[role="gridcell"] {
                // max-width: 5% !important;
                // padding: 6.7% 0% !important;

                .mat-calendar-body-cell-content {
                    border-radius: 50%;
                }
            }
        }
        .mat-datepicker-actions {
            justify-content: space-between;
            padding: 16px 16px 16px 16px;
            border-top: 1px solid lightgray;
            .mat-mdc-button-base + .mat-mdc-button-base {
                margin-left: 16px;
                border-radius: 6px;
            }
            .preview-date {
                display: flex;
                align-items: center;
                gap: 8px;
            }
        }
    }

    .mat-mdc-unelevated-button:not(:disabled).primary-50 {
        background-color: map-get($app-palette, 50);
        color: map-get($app-palette, 500);
    }
}
